body{
    padding: 0;
    margin: 0;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://media.istockphoto.com/photos/passenger-airplane-flying-above-clouds-during-sunset-picture-id155439315?k=20&m=155439315&s=612x612&w=0&h=BvXCpRLaP5h1NnvyYI_2iRtSM0Xsz2jQhAmZ7nA7abA=");
    background-size: cover;
    height: 100vh;
    max-width: 80vw;
    padding: 0vw 10vw;
}
ul{
    margin-top: 10px;
    float: left;
    list-style: none;
    margin: 15px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent;
    padding: 15px;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #111;
}
.logo img{
    float: right;
    width: 150px;
    height: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 20%;
}
.title h1{
    color: #fff;
}
.button{
    position: absolute;
    top: 62%;
    left: 39%;
    background-color: transparent;
}
.btn{
    text-decoration: none;
    padding: 10px 30px;
    color: #fff;
    border: 1px solid transparent;
}
.btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: 0.6s ease;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    background-color: #111;
    color: white;
}
table{
    position: absolute;
    top: 25%;
    left: 71%;
    border: none;
}