*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    background-color: #282828;
}
h1{
    margin: 15px;
    color: #39ca74;
}
span{
    color: white;
}
ul{
    margin-left: 300px;
    margin-top: 17px;
    list-style-type: none;
    
}
li{
    color: white;
    display: inline-block;
    margin: 7px;
}
li:hover{
    cursor: pointer;
    color: #f0c330;
}